body {
    font-family: 'Montserrat', sans-serif;
}
.navright {
    margin-left: 80%;
}

.navlessright {
    margin-left: 65%
}



main .form-control
{
    /* center form controls */
    display: inline-block;

    /* override Bootstrap's 100% width for form controls */
    width: auto;
}

main
{
    /* scroll horizontally as needed */
    overflow-x: auto;

    /* center contents */
    text-align: center;
}

main img
{
    /* constrain images on small screens */
    max-width: 100%;
}

.blue {
    float: left;
    background-color: rgb(4, 13, 133);
    width: 40%;
    height: 95vh;
    color: white;
}

.white {
    float:right;
    margin-top: 15%;
    margin-right: 25%;
}

.headtext {
    margin-top: 15%;
    font-size: 5em;
}

.text-muted {
    font-size: 1.6em;
}

.googleimg {
    margin-top: -0.6%;
    width: 30px;
}

.facebookimg {
    margin-top: -0.5%;
    width: 25px
}

.twitterimg {
    width: 34px;
}

.From {
    margin-top: 5%;
    text-align: left;
    margin-left: 15.2%;
}

.left {
    margin-left: 10%;
    float: left;
}

.right {
    margin-right: 10%;
    float:right;
}

.trending-header {
    text-align: left;
    margin-left: 5.2%;
    margin-top: 1%;
    font-size: 96px;
    line-height: 112px;
    color: #454545;
}

.twitter-trending {
    position: absolute;
    float: left;
    width: 520px;
    height: 720px;
    margin-left: 5.4%;
    background: #EBEBEB;
    border-radius: 40px;
}

.twitter-heading{
    color:rgb(29, 161, 242);
}
.google-heading {
    color: crimson;
}
.facebook-heading {
    color: rgb(1, 48, 202);
}
.trending-site {
    margin-top: 5%;
    margin-left: 5%;
    text-align: left;
    font-size: 30px;
    line-height: 35px;
}

.topic
{
    margin-top: 5%;
    text-align: left;
    margin-left: 5%;
    font-size: 1.7em;
    margin-bottom: 0%;
}

.subHeading {
    text-align: left;
    font-size: 1em;
    margin-left: -3.5%;
    margin-top: -2%;

}

.google-trending {
    position: absolute;
    float: left;
    margin-top: 0;
    width: 520px;
    height: 720px;
    margin-left: 35.4%;
    background: #EBEBEB;
    border-radius: 40px;
}



.facebook-trending {
    position: absolute;
    float: left;
    margin-top: 0;
    width: 520px;
    height: 720px;
    margin-left: 65.4%;
    background: #EBEBEB;
    border-radius: 40px;
}