{% extends "layout.html" %}

{% block title %}
Home
{% endblock %}

{% block main %}
<h1 class="trending-header">TRENDING TOPICS</h1>


<div class="twitter-trending">
        <h2 class="trending-site twitter-heading">Twitter <img class="twitterimg" src="/static/images/twitterblue.png" alt="Twitter Logo"></h2>
        <div class="topic-container">

        </div>
        {% for trends in ttrending %}


        <h3 class="topic"><a href="{{trends['url']}}">{{trends['trend']}}</a></h3>
        <small class="text-muted subHeading">{{trends['url']}}</small>

        {% endfor %}
</div>


</div>

<div class="google-trending">
        <h2 class="trending-site google-heading">Google <img class="googleimg" src="/static/images/google.png" alt="Google Logo"></h2>
        {% for trends in gtrending %}


        <h3 class="topic">{{trends['name']}}</h3>
        <small class="text-muted subHeading">{{trends['sub']}}</small>

        {% endfor %}
</div>

<div class="buzz-trending">
        <h2 class="trending-site buzz-heading">BuzzFeed<img class="buzzimg" src="/static/images/buzz.png" alt="BuzzFeed Logo"></h2>
        {% for x in range(7) %}
        <p class="buzz-topic">{{btrending[x]}}</h3>
        {% endfor %}
</div>



{% endblock %}